</br>
<div class="page-content page-container" >
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong>Lets Chat</strong></h4>
                        <hr>
                        <div style="overflow-y: scroll !important; height:400px !important;">
                            <div class="ps-container">
                            <div id="media-body"></div>          
                            </div>
                        </div>
                        <div> <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png"> 
                            <%= current_account.full_name %>
                            <%= form_for @message, remote: true do |f| %>
                            <%= f.text_field :content, placeholder: "Type your message here..." %>
                            <%= f.submit "Add Message", class: "btn btn-primary" %>
                            <% end %> 
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
