<p class="card-text">
    <% post.comments.each do |comment| %>
        <div>
            <strong><%= comment.account.full_name %></strong>
            <%= comment.comment %>
        </div>

    <% end %>    
</p>  