@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
    font-size: 3rem;
}

.user-name {
    margin-top: 3.5%;
    padding-right: 5px;
}
.pad-name {
    padding-right: 5px;
}

.pad-surname {
    padding-right: 200px;
}
