@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
    font-size: 2rem;
}

.user-name {
    margin-top: 3.5%;
   
}
.pad-name {
    padding-right: 5px;
}

.pad-surname {
    padding-right: 200px;
}

.top-pad {
    padding-top: 50px;
}

.left-pad {
    padding-left: 10px;
}

.descp-pad {
    padding-right: 500px;
}


.top-top {
    padding-top: 7px;
}

